<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create Event')">
</head>
<body id="post-create">
<header th:replace="fragments/navbar :: navbar"></header>

<div class="sidebar-container">

    <ul class="sidebar-navigation">
        <li class="header">
            <img src="https://i.ibb.co/ykncWn2/logo-cutout.png" class="img-fluid" alt="">
        </li>
        <li>
            <a href="/feed/posts">
                <i class="fa fa-home left-nav-icon" aria-hidden="true"></i>Posts
            </a>
        </li>
        <li>
            <a href="/feed/events">
                <i class="far fa-calendar-alt left-nav-icon " id="left-icon-padding-events" aria-hidden="true"></i>Events
            </a>
        </li>
        <li>
            <a th:href="'/my-profile/' + ${profileId}">
                <i class="fas fa-user-alt left-nav-icon " id="left-icon-padding-profile" aria-hidden="true"></i>My Profile
            </a>
        </li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <!--                            <a href="">-->
                <!--                                <i class="fas fa-sign-out-alt"></i>Logout-->
                <!--                            </a>-->
                <button class="btn-link btn logout-button">
                    <i class="fas fa-sign-out-alt left-nav-icon"></i> Logout
                </button>
            </form>
        </li>

        <!--                    <li>-->
        <!--                        <a href="#">-->
        <!--                            <i class="fa fa-cog" aria-hidden="true"></i> Notifcations-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#">-->
        <!--                            <i class="fa fa-info-circle" aria-hidden="true"></i> Messages-->
        <!--                        </a>-->
        <!--                    </li>-->
    </ul>
</div>
<!--<div class="sidebar-container">-->

<!--    <ul class="sidebar-navigation">-->
<!--        <li class="header"></li>-->
<!--        <li>-->
<!--            <a href="/feed/posts">-->
<!--                <i class="fa fa-home" aria-hidden="true"></i>Posts-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/feed/events">-->
<!--                <i class="fa fa-tachometer" aria-hidden="true"></i>Events-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="'/my-profile/' + ${profileId}">-->
<!--                <i class="fa fa-users" aria-hidden="true"></i>My Profile-->
<!--            </a>-->
<!--        </li>-->
<!--&lt;!&ndash;        <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-cog" aria-hidden="true"></i> Notifcations&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-info-circle" aria-hidden="true"></i> Messages&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--    </ul>-->
<!--</div>-->


<div class="container" id="form-margin">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto create-m">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create A New Event</h5>
                    <form th:action="@{/events/create}" method="POST" th:object="${event}" >
                        <div class="form-label-group">
                            <input type="text" id="streetAddress" class="form-control" name="streetAddress"  placeholder="street" required autofocus/>
                            <label for="streetAddress">Street Address</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="city" class="form-control" placeholder="city" name="city" required/>
                            <label for="city">City</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="state" class="form-control" placeholder="state" name="state" required/>
                            <label for="state">State</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="zipcode" class="form-control" placeholder="zipcode" name="zipcode" required/>
                            <label for="zipcode">Zipcode</label>
                        </div>
                        <div class="form-label-group">
                            <textarea type="text" id="description" class="form-control" placeholder="Description" name="description" th:rows="4" required></textarea>
                            <label for="description"></label>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" id="btn" value="Sign Up" type="submit">Create Your Event</button>
<!--                        <hr class="my-4">-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>