<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sign Up')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <h1>Create a new Event</h1>
    <form th:action="${'/events/' + event.id + '/edit'}" method="POST" th:object="${event}">
        <div class="form-group">
            <label for="streetAddress">Street Address</label>
            <textarea id="streetAddress" name="streetAddress" class="form-control" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <textarea id="city" name="city" class="form-control" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <textarea id="state" name="state" class="form-control" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <textarea id="zipcode" name="zipcode" class="form-control" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" type="text"></textarea>
        </div>
        <input id="btn" type="submit" class="btn btn-block btn-primary" value="Submit Event">
    </form>

    <form th:action="${'/events/' + event.id + '/delete'}" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

</body>
</html>