<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit Event')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>

<div class="container">
    <h1>Update Event Details</h1>
    <div class="form">

        <form th:action="${'/events/' + event.id + '/edit'}" method="POST" th:object="${event}">

                <label for="streetAddress">Street Address</label>
                <input id="streetAddress" th:field="*{streetAddress}" type="text">


                <label for="city">City</label>
                <input id="city" th:field="*{city}" type="text">


                <label for="state">State</label>
                <input id="state" th:field="*{state}" type="text">

                <label for="zipcode">Zipcode</label>
                <input id="zipcode" th:field="*{zipcode}" type="text">

                <label for="description">Description</label>
                <input id="description" th:field="*{description}" type="text">

                <br>

                <button class="btn btn-primary">Update Event Details</button>
        </form>


        <!--Delete Event-->
        <form th:action="${'/events/' + event.id + '/delete'}" method="post">
            <button class="btn btn-danger">Delete Event</button>
        </form>
    </div>
</div>


</body>
</html>