<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Events Feed')">
</head>
<body>
<header th:replace="fragments/navbar :: eventsNavbar"></header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Notifications</a></li>
                    <li class="list-group-item"><a href="#">Messages</a></li>
                    <li class="list-group-item"><a href="/feed/posts">Posts</a></li>
                    <li class="list-group-item"><a href="/feed/events">Events</a></li>
                    <li class="list-group-item"><a th:href="'/my-profile/' + ${profileId}">My Profile</a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-6">
            <h1>Events</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <a th:href="'/events/create'">Let people know when your next gig, concert, jam session, band practice, or virtual concert online link.</a>
                </div>
            </div>


            <nav class="nav">
                <div>
                    <a class="nav-link" href="/feed/events">Upcoming Events</a>
                    <a class="nav-link" href="/feed/myEvents">My Events</a>
                </div>
            </nav>

        <!-- No Events Found-->
<!--            <div th:if="${noEventsFound}">-->
<!--                No events were found.-->
<!--            </div>-->
<!--            <div class="card mb-2" th:each="event : ${events}">-->
<!--                <div class="card-body">-->
<!--                    <h5 th:text="${event.owner.getUsername()}"></h5>-->
<!--                    <p class="card-text" th:text="${event.streetAddress} + ' ' + ${event.city} + ', ' +  ${event.state} + ' ' + ${event.zipcode}"></p>-->
<!--                    <p class="card-text" th:text="${event.description}"></p>-->
<!--                &lt;!&ndash; <a th:href="'/events/' + ${event.id} + '/edit'" class="btn btn-primary">Edit Event</a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        -->

        <!--                user posts-->

        <!--- \\\\\\\Post-->
        <div class="card gedf-card" th:each="event : ${events}">
            <div class="card-header" >
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0" th:text="${event.owner.getUsername()}"></div>
                            <div class="h7 text-muted" th:text="${event.streetAddress}"></div>
                            <div class="h7 text-muted" th:text="${event.city} + ', ' + ${event.state}"></div>
                            <div class="h7 text-muted" th:text="${event.zipcode}"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">


                <p class="card-text" th:text="${event.description}"></p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
            </div>
        </div>
        </div>
        <!--                user posts-->


<!--INSERT MAPBOX API HERE-->
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://liveatnolan.com/wp-content/uploads/2018/06/Placeholder-Map.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Map with center view of your city.</p>
                    </div>
                </div>




    <!--INSERT CALENDAR HERE-->
                <div class="card mb-3">
                    <img src="https://promisedlandcsa.com/wp-content/uploads/2013/05/calendar_placeholder.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Your Calendar.</p>
                    </div>
                 </div>

             </div>
    </div>
</div>


</body>
</html>