<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Search Events')">
</head>
<body class="main-bg">
<header th:replace="fragments/navbar :: eventsNavbar"></header>
<div class="main-bg">
<div class="container ">
    <div class="row">
        <div class="col-md-3">
<!--            <div class="card">-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item"><a href="#">Notifications</a></li>-->
<!--                    <li class="list-group-item"><a href="#">Messages</a></li>-->
<!--                    <li class="list-group-item"><a href="/feed/posts">Posts</a></li>-->
<!--                    <li class="list-group-item"><a href="/feed/events">Events</a></li>-->
<!--                    <li class="list-group-item"><a th:href="'/my-profile/' + ${profileId}">My Profile</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

        <div class="sidebar-container">

            <ul class="sidebar-navigation">
                <li class="header">
                    <a href="/feed/posts"><img src="https://i.ibb.co/ykncWn2/logo-cutout.png" class="img-fluid" alt=""></a>
                </li>
                <li>
                    <a href="/feed/posts">
                        <i class="fa fa-home left-nav-icon" aria-hidden="true"></i>Posts
                    </a>
                </li>
                <li>
                    <a href="/feed/events">
                        <i class="far fa-calendar-alt left-nav-icon " id="left-icon-padding-events" aria-hidden="true"></i>Events
                    </a>
                </li>
                <li>
                    <a th:href="'/my-profile/' + ${profileId}">
                        <i class="fas fa-user-alt left-nav-icon " id="left-icon-padding-profile" aria-hidden="true"></i>My Profile
                    </a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <!--                            <a href="">-->
                        <!--                                <i class="fas fa-sign-out-alt"></i>Logout-->
                        <!--                            </a>-->
                        <button class="btn-link btn logout-button">
                            <i class="fas fa-sign-out-alt left-nav-icon"></i> Logout
                        </button>
                    </form>
                </li>

                <!--                    <li>-->
                <!--                        <a href="#">-->
                <!--                            <i class="fa fa-cog" aria-hidden="true"></i> Notifcations-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a href="#">-->
                <!--                            <i class="fa fa-info-circle" aria-hidden="true"></i> Messages-->
                <!--                        </a>-->
                <!--                    </li>-->
            </ul>
        </div>

<!--        <div class="sidebar-container">-->

<!--            <ul class="sidebar-navigation">-->
<!--                <li class="header"></li>-->
<!--                <li>-->
<!--                    <a href="/feed/posts">-->
<!--                        <i class="fa fa-home" aria-hidden="true"></i>Posts-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/feed/events">-->
<!--                        <i class="fa fa-tachometer" aria-hidden="true"></i>Events-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="'/my-profile/' + ${profileId}">-->
<!--                        <i class="fa fa-users" aria-hidden="true"></i>My Profile-->
<!--                    </a>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-cog" aria-hidden="true"></i> Notifcations&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-info-circle" aria-hidden="true"></i> Messages&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->


        <div class="col-md-6 mt-3">
            <div class="card mb-3" style="background-color: #1a1a1a">
                    <a th:href="@{/events/create}" class="btn btn-lg btn-block text-uppercase rounded-pill" style="background-color: goldenrod" id="btn" type="submit">Create an Event</a>
            </div>


            <div class="container mb-4">
                <div class="row">
                    <div class="col-6">
                        <a th:href="@{/feed/events}"  class="btn btn-lg btn-block text-uppercase rounded-pill" style="background-color: goldenrod; border: 1px solid white; color: white" id="btn1" type="submit">Upcoming Events</a>
                    </div>
                    <div class="col-6">
                        <a th:href="@{/feed/myEvents}" class="btn btn-lg  btn-block text-uppercase rounded-pill" style="background-color: goldenrod; border: 1px solid white; color: white;" id="btn2" type="submit">My Events</a>
                    </div>
                    </div>
            </div>

            <!-- No Events Found-->
            <!--            <div th:if="${noEventsFound}">-->
            <!--                No events were found.-->
            <!--            </div>-->
            <!--            <div class="card mb-2" th:each="event : ${events}">-->
            <!--                <div class="card-body">-->
            <!--                    <h5 th:text="${event.owner.getUsername()}"></h5>-->
            <!--                    <p class="card-text" th:text="${event.streetAddress} + ' ' + ${event.city} + ', ' +  ${event.state} + ' ' + ${event.zipcode}"></p>-->
            <!--                    <p class="card-text" th:text="${event.description}"></p>-->
            <!--                &lt;!&ndash; <a th:href="'/events/' + ${event.id} + '/edit'" class="btn btn-primary">Edit Event</a>&ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->



            <!-- No Events Found-->
            <div th:if="${noResultsFound}" style="color: goldenrod">
                No events were found.
            </div>
            <div class="card gedf-card" th:each="event : ${results}">
                <div class="card-header" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div th:each="profile : ${profiles}">
                                <div th:if="${event.owner.id == profile.getOwner().id} ">
                                    <img th:if="${profile.profilePhoto} != null" th:src="${profile.profilePhoto}"
                                         style="border-radius: 50%; width: 45px; height: 45px" alt="profile picture">

                                </div>
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0" th:text="${event.owner.getUsername()}"></div>
                                <div class="h7 text-muted" th:text="${event.streetAddress}"></div>
                                <div class="h7 text-muted" th:text="${event.city} + ', ' + ${event.state}"></div>
                                <div class="h7 text-muted" th:text="${event.zipcode}"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body ">


                    <p class="card-text" th:text="${event.description}"></p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <form th:method="Post" th:action="'/events/'+ ${event.id} + '/interests'">
                        <button  type="submit"
                                 class="fas fa-thumbs-up card-link btn rounded-pill" style="background-color: goldenrod; " ><i id="like-button-text" onclick="myFunction(this)">
                        </i><span style="font-family: sans-serif"  th:text="'Interested' + ' ' + ${event.eventInterests.size()}"></span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <!--                user posts-->


        <!--INSERT MAPBOX API HERE-->
        <div class="col-md-3 mt-3">
            <div class="card mb-3">
                <div id="map" style="width: 100%; height:200px"></div>
                <div class="card-body">
                    <p class="card-text" id="inputCity" th:text="${currentUserProfile.city} + ', ' + ${currentUserProfile.state}"></p>
                </div>
            </div>




            <!--INSERT CALENDAR HERE-->
            <div class="card mb-3">
                <img src="https://promisedlandcsa.com/wp-content/uploads/2013/05/calendar_placeholder.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Your Calendar.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script th:replace="fragments/map-scripts-and-div :: jquery-script"></script>
<script th:replace="fragments/map-scripts-and-div :: key-script"></script>
<script th:replace="fragments/map-scripts-and-div :: mapbox-script"></script>
<script th:replace="fragments/map-scripts-and-div :: geocode-script"></script>

<script th:inline="javascript">

    var city = [[${currentUserProfile.city}]];

    geocode(city, mapboxToken).then(function (result) {
        console.log(result);
        mapboxgl.accessToken = mapboxToken;
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 12,
            center: (result)
        });
    });
</script>
</body>
</html>>