<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Update Profile')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<h1 class="text-center">Update Profile</h1><br>
<br>
<br>
<div class="form-page">
    <div class="form">
        <form th:action="${'/profile/' + profile.id + '/edit'}" method="POST" th:object="${profile}">

            <label for="image">Image</label>
            <input type="text" id="image" name="profilePhoto">
            <label for="upload"></label>
            <button type="button" id="upload" name="upload">Upload an image</button>

            <input id="stashFilestackURL" name="stashFilestackURL" value="replaceme" th:field="*{profilePhoto}" type="hidden">

            <label for="city">City</label>
            <input id="city" th:field="*{city}"/>
<!--            <input id="city"  type="text" name="city" placeholder="City"/>-->

            <label for="state">State</label>
            <input id="state" th:field="*{state}"/>
<!--            <input id="state"  type="text" name="state" placeholder="State"/>-->

            <label for="profileType">Profile Type</label>
            <input id="profileType" th:field="*{profileType}"/>
<!--            <input id="profileType"  type="text" name="profileType" placeholder="Profile type"/>-->

            <label for="bio">Bio</label>
            <input id="bio" th:field="*{bio}"/>
<!--            <input id="bio"  type="text" name="bio" placeholder="About/Bio"/>-->

            <label for="interests">Interests</label>
            <input id="interests" th:field="*{interests}"/>
<!--            <input id="interests"  type="text" name="interests" placeholder="Interests"/>-->

<!--            <label for="skills">Skills</label>-->
<!--            <input id="skills" th:field="*{skills}"/>-->
<!--            <input id="skills"  type="text" name="skills" placeholder="Skills"/>-->

            <label for="genres">Genres</label>
            <input id="genres" th:field="*{genres}"/>
<!--            <input id="genres"  type="text" name="genres" placeholder="Genres"/>-->

            <!--            <input value="Update Profile" type="submit"/>-->
            <input type="submit" value="Update Profile" />
        </form>
    </div>
</div>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var apiKey = [[${apiKey}]];
    // alert("Your api key is " + apiKey);
    const options = {
        // onUploadDone:
        //     function (res){
        // console.log(res.filesUploaded[0].url);
        //     alert("Log fired");
        //     alert("Log fired " + res.filesUploaded[0].url);
        // }

        onUploadDone:
            function(res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    const client = filestack.init(apiKey);
    $("#upload").click(function () {
        client.picker(options).open()
    });
    /*]]>*/
</script>
</body>
</html>