<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Add Comment')">

<body>
<header th:replace="fragments/navbar :: navbar"></header>
<form th:action="${'/posts/' + post.id + '/comment'}" method="POST" th:object="${comment}">
<div class="form-group mx-sm-3 mb-2">
    <label for="content" class="sr-only">Comment</label>
    <input id="content" th:field="*{content}">
</div>
<button type="submit" class="btn btn-primary mb-2">Comment</button>
</form>
</body>
</html>