<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: head('Sign Up')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <h1>Create a new Ad</h1>

    <form th:action="@{/posts/create}" method="POST" th:object="${post}">
        <div class="form-group">
            <label for="body">body</label>
            <textarea id="body" name="body" class="form-control" type="text"></textarea>
        </div>
        <!--Upload Image on Post -->
        <!--Filestack-->
        <label for="upload"></label>
        <button type="button" id="upload" name="upload">Upload an image
        </button>
        <input id="stashFilestackURL" name="stashFilestackURL" value="replace" th:field="*{img}" type="hidden">

        <input id="btn" type="submit" class="btn btn-block btn-primary" value="create a Post">
    </form>


</div>

<!--            &lt;!&ndash;Image for Post&ndash;&gt;-->
<!--            &lt;!&ndash;Filestack&ndash;&gt;-->
<!--            <img th:if="${post.img} == ''" th:src="@{/img/logoGig.jpg}"-->
<!--                 class="card-img m-2" alt="placeholder">-->
<!--            <img th:unless="${post.img} == ''"  th:src="${post.img}"-->
<!--                 class="card-img m-2" alt="image for post">-->
<!--            <div class="ml-4"><a th:href="'/posts/' + ${post.id} + '/edit'">Update image</a></div>-->



<!--Filestack-->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>


<!--Filestack-->
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    let apiKey = [[${apiKey}]]
    const client = filestack.init(apiKey);

    $("#upload").click(function () {
        client.picker(options).open()
    });
</script>

</body>
</html>