<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit Post')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <h1>Update Post</h1>
    <form th:action="${'/posts/' + post.id + '/edit'}" method="POST" th:object="${post}">
<div class="form-group">

    <label for="body">body</label>
    <input id="body" th:field="*{body}" type="text">
</div>
        <button class="btn btn-primary">Update</button>
</form>
    <form th:action="${'/posts/' + post.id + '/delete'}" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

</body>
</html>