<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit Post')">
    <meta charset="UTF-8">
    <title>Edit A Post</title>
</head>
<body>


<div class="container">
    <h1>Update Your Post</h1>
    <form th:action="${'/posts/' + post.id + '/edit'}" method="POST" th:object="${post}">
<div class="form-group">

    <label for="body">body</label>
    <textarea id="body" name="body" class="form-control" type="text"></textarea>
</div>
<input id="btn" type="submit" class="btn btn-block btn-primary" value="edit a Post">
</form>
    <form th:action="${'/posts/' + post.id + '/delete'}" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

</body>
</html>