<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit Post')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <h1>Update Post</h1>
    <form th:action="${'/posts/' + post.id + '/edit'}" method="POST" th:object="${post}">
        <div class="form-group">

            <!--Update Image on Post -->
            <!--Filestack-->
            <label for="upload"></label>
            <button type="button" id="upload" name="upload">Update an image
            </button>
            <input id="stashFilestackURL" name="stashFilestackURL" value="replace" th:field="*{img}" type="hidden">


            <label for="body">body</label>
            <input id="body" th:field="*{body}" type="text">
        </div>
                <button class="btn btn-primary">Update</button>
        </form>
            <form th:action="${'/posts/' + post.id + '/delete'}" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>


<!--Filestack-->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>


<!--Filestack-->
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    let apiKey = [[${apiKey}]]
    const client = filestack.init(apiKey);

    $("#upload").click(function () {
        client.picker(options).open()
    });
</script>

</body>
</html>