<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Search Results')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
<!--            <div class="card">-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item"><a href="#">Notifications</a></li>-->
<!--                    <li class="list-group-item"><a href="#">Messages</a></li>-->
<!--                    <li class="list-group-item"><a href="/feed/posts">Posts</a></li>-->
<!--                    <li class="list-group-item"><a href="/feed/events">Events</a></li>-->
<!--                    <li class="list-group-item"><a th:href="'/my-profile/' + ${profileId}">My Profile</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="sidebar-container">

            <ul class="sidebar-navigation">
                <li class="header"></li>
                <li>
                    <a href="/feed/posts">
                        <i class="fa fa-home" aria-hidden="true"></i>Posts
                    </a>
                </li>
                <li>
                    <a href="/feed/events">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>Events
                    </a>
                </li>
                <li>
                    <a th:href="'/my-profile/' + ${profileId}">
                        <i class="fa fa-users" aria-hidden="true"></i>My Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i> Notifcations
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Messages
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card mb-3">
                <div class="card-body">
                    <a th:href="'/posts/create'">Post a message, show your skills, or find a match for your gig.</a>
                </div>
            </div>
            <div th:if="${noResultsFound}">
                No results were found.
            </div>
            <div class="card mb-2" th:each="post : ${results}">
                <div class="card-body">
                    <h5 th:text="${post.owner.username}"></h5>
                    <p class="card-text" th:text="${post.body}"></p>
                </div>
                <hr>

                <!--                    <form th:href="'/posts/' + ${post.id} + '/comment'">-->
                <!--                        <button type="submit" class="btn btn-primary mb-2">Add Comment</button>-->
                <!--                    </form>-->
                <a th:href="'/posts/' + ${post.id} + '/comment'">Add Comment</a>

            </div>

        </div>
        <div class="col-md-3 mt-3">
            <div class="card mb-3">
                <img src="https://liveatnolan.com/wp-content/uploads/2018/06/Placeholder-Map.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Map with center view of your city.</p>
                </div>
            </div>
            <div class="card mb-3">
                <img src="https://promisedlandcsa.com/wp-content/uploads/2013/05/calendar_placeholder.gif"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Your Calendar.</p>
                </div>
            </div>
        </div>
    </div>
</div>