<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <!--    <link rel="stylesheet" href="">-->

</head>



<body>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 footer-left wow fadeInLeftBig animate__animated animate__fadeInLeft">
                <h5>
                    Please feel free to checkout any more of my works or contact for more information!
                </h5>
            </div>
            <div class="col-md-6 offset-md-1 footer-right">
                <a href="tel:214-516-8095"><i class="fas fa-phone hvr-buzz"></i></a>
                <a href="mailto:flores.esaijonathan@gmail.com"><i class="fas fa-envelope hvr-wobble-top"></i></a>
                <a href="https://www.linkedin.com/in/esai-flores/" target="_blank"><i class="fab fa-linkedin hvr-back-pulse"></i></a>
                <a href="https://github.com/esaiflores" target="_blank"><i class="fab fa-github hvr-wobble-to-bottom-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col footer-bottom">
                <a class="scroll-link hvr-icon-bob" href="#top"><i class="fas fa-angle-up hvr-icon"></i></a>
            </div>
        </div>
    </div>
</footer>

</body>


</body>
</html>