<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <!--    <link rel="stylesheet" href="">-->
    <style>


        html, body {
            height: 100%;
        }


        #sticky-footer {
            flex-shrink: 0;

        }
footer {
    position: fixed;

            color: black;
            background-color: goldenrod;

        }

    </style>
</head>



<body>

<footer id="sticky-footer" class="py-4 foot text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; GigMatch 2020</small>
    </div>
</footer>

</body>


</body>
</html>