<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map-Scripts</title>
</head>
<body>

<div id="map" th:fragment="map" ></div>

<script src="js/keys.js" th:fragment="key-script"></script>
<script src="js/mapbox-geocoder-utils.js" th:fragment="geocode-script"></script>
<script>
    var accessToken = mapboxToken;
    mapboxgl.accessToken = accessToken;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        zoom: 10,
        center: [-98.4916, 29.4252]
    });

    geocode("600 Navarro St #350, San Antonio, TX 78205", mapboxToken).then(function(result) {
        console.log(result);
        map.setCenter(result);
        map.setZoom(20);
    });
</script>


</body>
</html>