<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('My Profile')">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="main-bg">
<div class="container">
    <div class="row">
        <div class="col-md-3">
<!--            <div class="card">-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item"><a href="/feed/posts">Home Feed</a></li>-->
<!--                    <li class="list-group-item"><a href="#">Notifications</a></li>-->
<!--                    <li class="list-group-item"><a href="#">Messages</a></li>-->
<!--&lt;!&ndash;                    <li class="list-group-item"><a href="#">Recommendations(Maybe)</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="list-group-item"><a href="#">Connections(Maybe)</a></li>&ndash;&gt;-->
<!--                    <li class="list-group-item"><a th:href="'/profile/' + ${profileId} + '/edit'">Update Profile</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

        <div class="sidebar-container">

            <ul class="sidebar-navigation">
                <li class="header">
                    <img src="https://i.ibb.co/ykncWn2/logo-cutout.png" class="img-fluid" alt="">
                </li>
                <li>
                    <a href="/feed/posts">
                        <i class="fa fa-home left-nav-icon" aria-hidden="true"></i>Posts
                    </a>
                </li>
                <li>
                    <a href="/feed/events">
                        <i class="far fa-calendar-alt left-nav-icon " id="left-icon-padding-events" aria-hidden="true"></i>Events
                    </a>
                </li>
                <li>
                    <a th:href="'/my-profile/' + ${profileId}">
                        <i class="fas fa-user-alt left-nav-icon " id="left-icon-padding-profile" aria-hidden="true"></i>My Profile
                    </a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <!--                            <a href="">-->
                        <!--                                <i class="fas fa-sign-out-alt"></i>Logout-->
                        <!--                            </a>-->
                        <button class="btn-link btn logout-button">
                            <i class="fas fa-sign-out-alt left-nav-icon"></i> Logout
                        </button>
                    </form>
                </li>

                <!--                    <li>-->
                <!--                        <a href="#">-->
                <!--                            <i class="fa fa-cog" aria-hidden="true"></i> Notifcations-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a href="#">-->
                <!--                            <i class="fa fa-info-circle" aria-hidden="true"></i> Messages-->
                <!--                        </a>-->
                <!--                    </li>-->
            </ul>
        </div>

<!--        <div class="sidebar-container">-->

<!--            <ul class="sidebar-navigation">-->
<!--                <li class="header"></li>-->
<!--                <li>-->
<!--                    <a href="/feed/posts">-->
<!--                        <i class="fa fa-home" aria-hidden="true"></i>Posts-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/feed/events">-->
<!--                        <i class="fa fa-tachometer" aria-hidden="true"></i>Events-->
<!--                    </a>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="'/my-profile/' + ${profileId}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-users" aria-hidden="true"></i>My Profile&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-cog" aria-hidden="true"></i> Notifcations&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-info-circle" aria-hidden="true"></i> Messages&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                <li>-->
<!--                    <a th:href="'/profile/' + ${profileId} + '/edit'">-->
<!--                        <i class="fa fa-info-circle" aria-hidden="true"></i> Update Profile-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <!--Profile Photo-->
                        <!--Filestack-->
                        <div th:if="${profile.profilePhoto} == ''">
<!--                            <img src="https://pecb.com/conferences/wp-content/uploads/2017/10/no-profile-picture.jpg"-->
<!--                                 class="card-img m-2" alt="...">-->
                        </div>
                        <div th:unless="${profile.profilePhoto} == ''">
                        <img   th:src="${profile.profilePhoto}"
                             class="card-img m-2" alt="profile picture">
                        </div>
                        <div class="ml-4"><a th:href="'/profile/' + ${profileId} + '/edit'">Update Photo</a></div>
                    </div>




                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${profile.owner.first_name} + ' ' + ${profile.owner.last_name}">First Last</h3>
                            <h4 class="card-title" th:text="${profile.owner.username}">First Last</h4>
                            <h4 class="card-title" th:text="${profile.owner.email}">Email</h4>
                            <h4 th:text="${profile.profileType}">Profile Type</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">About/Bio</h3>
                            <p class="card-text" th:text="${profile.bio}">Tell us about yourself...</p>
                        </div>
                    </div>
                </div>
            </div>













            <div class="card mb-3">
                <div class="card-header">
                    <h4>Interests</h4>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${profile.interests}">Tell us what you're into...</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Genres</h4>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${profile.genres}">Tell us what kind of music you play/like.</p>
                </div>
            </div>


        <!--No Posts Found-->
            <div th:if="${noPostsFound}">
                You haven't created any posts yet.
            </div>
            <div>
                <a th:href="'/posts/create'" class="btn btn-primary">Create a post</a>
            </div>

            <br>

<!--           <div class="card mb-2" th:each="post : ${userPosts}">-->
<!--                <div class="card-body">-->
<!--                    <h5 th:text="${post.owner.username}"></h5>-->
<!--                    <p class="card-text" th:text="${post.body}"></p>-->
<!--                    <a th:href="'/posts/' + ${post.id} + '/edit'" class="btn btn-primary">Edit Post</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!--                user posts-->

        <!--- \\\\\\\Post-->
            <!--- \\\\\\\Post-->
            <div class="card gedf-card" th:each="post : ${userPosts}">
                <div class="card-header" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">



                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png" alt="">
                            </div>

                            <div class="ml-2">
                                <div class="h5 m-0" th:text="${post.owner.username}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <p class="card-text" th:text="${post.body}"></p>
                    <!--Image for Post-->
                    <!--Filestack-->
                    <div th:if="${post.img} == ''">
                        <!--                    <img  th:src="@{/img/logoGig.jpg}"-->
                        <!--                         class="card-img m-2" alt=" ">-->
                    </div>
                    <div th:unless="${post.img} == ''">
                        <img th:src="${post.img}"
                             class="card-img m-2" alt="image for post" style="max-height: 300px">
                    </div>
                </div>

                <!--POST REACTION TO CONNECT TO DATABASE&ndash;&gt;-->
                <!--<div>-->
                <!--<a th:text="${post.userReactions.size()}"></a>-->
                <!--</div>-->
                <!--<form th:method="Post" th:action="'/posts/'+ ${post.id} + '/reactions'" >-->
                <!--<input type="submit" value="Like">-->
                <!--</form>-->

                <!--POST REACTION TO CONNECT TO DATABASE-->
                <div class="card-footer d-flex justify-content-between">
                    <form th:method="Post" th:action="'/posts/'+ ${post.id} + '/reactions'" >
                        <button  type="submit" th:text="${post.userReactions.size()}" class=" fa fa-gittip card-link " value=" Like "><i onclick="myFunction(this)"> Like</i></button>
                    </form>
                    <!--<a th:href="'/posts/' + ${post.id} + '/reactions'" class="card-link"><i class="fa fa-gittip"></i> Like</a>-->
                    <a th:href="'/posts/' + ${post.id} + '/comment'" class="card-link "><i class="fa fa-comment"></i>Comment</a>
                    <a th:href="'/posts/' + ${post.id}" class="ml-5">See Comments</a>
                    <a th:href="'/posts/' + ${post.id} + '/edit'">Edit Post</a>
                </div>
            </div>
        <!--                user posts-->



</div>

        <!-- Mapbox API-->
        <div class="col-md-3">
            <div class="card mb-3">
                <div id="map" style="width: 100%; height:200px"></div>
                <div class="card-body">
                    <p class="card-text" id="inputCity" th:text="${profile.city} + ', ' + ${profile.state}"></p>
                </div>
            </div>


        <!-- Calendar-->
            <div class="card mb-3">
                <img src="https://promisedlandcsa.com/wp-content/uploads/2013/05/calendar_placeholder.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Your Calendar</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script th:replace="fragments/map-scripts-and-div :: jquery-script"></script>
<script th:replace="fragments/map-scripts-and-div :: key-script"></script>
<script th:replace="fragments/map-scripts-and-div :: mapbox-script"></script>
<script th:replace="fragments/map-scripts-and-div :: geocode-script"></script>

<script th:inline="javascript">

    var city = [[${profile.city}]];

    geocode(city, mapboxToken).then(function (result) {
        console.log(result);
        mapboxgl.accessToken = mapboxToken;
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 12,
            center: (result)
        });
    });
</script>



<!--Filestack-->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>


<!--Filestack-->
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    let apiKey = [[${apiKey}]]
    const client = filestack.init(apiKey);

    $("#upload").click(function () {
        client.picker(options).open()
    });
</script>

</body>
</html>