<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sign Up')"></head>
<body id="login-background" onload="myFunction()">

<div id="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="container box" id="myDiv" style="display: none">
    <h4 class="wordCarousel login-link">
        <span><a href="/">You Need: </a></span>
        <div class="carousel-box">
            <!--        Use classes 2,3, or 4 to match the number of words -->
            <ul class="flip3">
                <li class="carousel-li" >GigMatch</li>
                <li class="carousel-li">Gigs</li>
                <li class="carousel-li">Artist</li>
            </ul>
        </div>
    </h4>
</div>


<div th:if="${param.error}">
    <p  class="text-left">Invalid Username and Password.</p>
</div>

<div th:if="${param.logout}">
    <p class="text-center">You have been logged out.</p>
</div>


<div class="container" id="form-margin">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form name="username" class="form-signin" th:action="@{/sign-up}" method="POST" th:object="${user}" >

                        <!--Reject Value if User already exists, Email already exists, or validation has errors-->
                        <div th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="first_name" class="form-control" name="first_name"  placeholder="first" required autofocus/>
                            <label class="form-root" for="first_name">First Name</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="last_name" class="form-control" placeholder="last" name="last_name" required/>
                            <label class="form-root" for="last_name">Last Name</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="username" class="form-control" placeholder="username" name="username" required/>
                            <label class="form-root" for="username">Username</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="email" class="form-control" placeholder="email" name="email" required/>
                            <label class="form-root" for="email">Email</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="password" class="form-control" placeholder="password" name="password" required/>
                            <label class="form-root" for="password">Password</label>
                        </div>


                        <button class="btn btn-lg btn-block text-uppercase" style="background-color: goldenrod" id="btn" value="Sign Up" type="submit">Sign Up</button>
                        <hr class="my-4">
                        <h6>Already have an Account?<span><a href="/login"> Click here to log in!</a></span></h6>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>
    var myVar;
    function myFunction() {
        myVar = setTimeout(showPage, 2500);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>
</body>
</html>









