:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.text-white-50 {
    margin-top: 92px;
    color: goldenrod;
}

a {
    text-decoration: none !important;
    color: white;
}

.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #939393;
}

li {
    font-family: Yesteryear;
    color: goldenrod;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    font-size: 45px;
}

.div {
    overflow: hidden;
    position: relative;
    height: 63px;
    margin-top: -44px;
    margin-left: 101px;
}


.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}




.text-l{
    margin-left: 90px;
    margin-bottom: 0;
    margin-top: 49px;
    color: white;
    font-family: inherit;
    font-size: 30px;

}

/*.box {*/
/*    background-color: rgba(0, 0, 0, 0.38);*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    color: goldenrod;*/
/*    -webkit-text-stroke-color: white;*/
/*}*/

#margin-l {
    margin-left: -279px;
    margin-right: 90px;
}
body {
   background-image: url("../imgs/hand-metal-music-musician-33779.jpg");
    /* Set a specific height */
    min-height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}




#loader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151924;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader span {
    display: block;
    width: 8px;
    height: 5px;
    background: #fff;
    animation: loader 1.5s ease-in-out infinite;
    margin: 0 2px;
    border-radius: 0.5rem;
}

#loader span:nth-child(2){
    animation-delay: .15s;
}

#loader span:nth-child(3){
    animation-delay: .3s;
}

#loader span:nth-child(4){
    animation-delay: .45s;
}

#loader span:nth-child(5){
    animation-delay: .6s;
}

#loader span:nth-child(6){
    animation-delay: 0.75s;
}

#loader span:nth-child(7){
    animation-delay: 0.9s;
}

#loader span:nth-child(8){
    animation-delay: 1.05s;
}

#loader span:nth-child(9){
    animation-delay: 1.2s;
}

#loader span:nth-child(9){
    animation-delay: 1.35s;
}
#loader span:nth-child(10){
    animation-delay: 1.5s;
}
#loader span:nth-child(11){
    animation-delay: 1.65s;
}
#loader span:nth-child(12){
    animation-delay: 1.8s;
}
#loader span:nth-child(13){
    animation-delay: 1.95s;
}
#loader span:nth-child(14){
    animation-delay: 2.1s;
}
#loader span:nth-child(15){
    animation-delay: 2.25s;
}

@keyframes loader {
    100% { height: 80px; }
}
/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

@media (max-width: 767px) {
    #margin-l {
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        text-align: center;
    }

    .text-l {
        margin: 0;
    }
}