
/*General*/
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height: max-content;
    margin: 0;
    padding: 0;
    position: relative;

}


.form-rounded {
    border-radius: 1rem;
}

#page-content {
    flex: 1 0 auto;
}
/*PostFeed*/

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
    top: 40px;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: goldenrod;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: goldenrod;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #1a1a1a;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}

/*Footer*/

.footer-section {
    background: #151414;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.twitter-bg{
    background: #55ACEE;
}
.google-bg{
    background: #DD4B39;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: #ff5e14;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area{
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: goldenrod;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: goldenrod;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

/*Font Awesome*/
.fa-user-alt, .fa-envelope, .fa-bell {
    font-size: 20px;
}

/*General Nav*/

.gen-container {
    height: 34px;
}

.nav-search {
    width: 484px;
}

.input-group {
    justify-content: center;
}



/*Welcome Page*/

.about-text {
    font-family: Palatino;
}

.no-gutters {
    margin-bottom: 60px;
    margin-top: 50px;
}

/*about cont*/


.section-container {
    margin: 0 auto;
    padding-bottom: 70px;
    font-family: Palatino;
    background-color: #f9f9fa;

}

.section-container-gray-bg {
    background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    border-color: #fff;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}
.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 60px;
}


.services-box {
    padding-top: 30px;
    text-align: left;
}

.services-box .services-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    background: #9b59b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a0810e 0%, #eec308 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
}

.services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}



/*Welcome nav*/
.welcome-link {
    margin-bottom: 19px;
}



.navbar-dark {
    background:transparent !important;
    transition:0.75s ease;
    font-family: "";
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    margin-bottom: 0;
}
.navbar-dark.scrolled {
    background: goldenrod !important;

}

/*Learn more button*/

.btn-link-2 {
    display: inline-block;
    height: 50px;
    padding: 0 28px;
    background: #333;
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
    margin-left: 253px;
    margin-bottom: 30px;

}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #333; background: rgba(0, 0, 0, 0.4); outline: 0; color: #fff; box-shadow: none;
}



/*Logo for Welcome Nav*/

.logo {
    height: auto;
    width: 64px;
    padding-right: 15px;
    padding-left: 0px;
}

/*Container for main text*/

.pageBox {

    background-color: rgba(13, 13, 13, 0.71);
    outline: white solid 2px;
    animation: myanim 3s infinite;
    margin-top: 10px;

    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

.img-fluid {
    width: 150px;
    height: auto; //which is default, you don't need to mention that unless you want to override.
}

@keyframes myanim {
    50% {
        outline-color: rgba(218, 165, 32, 0.55);
    }
}
.container-home {
    /*width: 893px;*/
}
/*Top portion with image*/

.top {
    background-image: url("../imgs/homePage.jpg");


    /* Set a specific height */
    min-height: 750px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-content {
    padding: 210px 0;

}


.top-content .text {
    color: #ffffff;
    font-family: "Bodoni 72 Oldstyle";
}

.top-content .text h1 {
    margin-top: 25px;
    font-size: 50px;
    color: #ffffff;
    font-family: "Yesteryear";
    text-align: center;

}

.top-content .description {
    margin: 30px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .top-big-link {
    margin-top: 45px;
}



/*Login Page*/

#navbarResponsive {

}

.nav-font-icon {

}

.login-link a:link,
.login-link a:active,
.login-link a:visited{
    color:rgba(255,255,255,1);
}

/*Word carousel*/

.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    margin-left: 11px;
    margin-bottom: 0;
    margin-top: 49px;
    color: white;
    font-family: inherit;

}

.carousel-li {
    font-family: Yesteryear;
    color: #000000;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    font-size: 45px;
    margin-left: 21px;
}

.carousel-box {
    overflow: hidden;
    position: relative;
    height: 63px;
    margin-top: -44px;
    margin-left: 101px;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }



@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

#form-margin {
    margin-left: -279px;
    margin-right: 90px;
}

#form-margin-log {
    margin-left: -279px;
    margin-right: 90px;
margin-top: 40px;
}

#login-background {

    background-image: url("../imgs/man-playing-saxophone-756507.jpg");
    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Login Form*/

:root{
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}


.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}



/*Loader for switching web pages*/
#loader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151924;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader span {
    display: block;
    width: 8px;
    height: 5px;
    background: #fff;
    animation: loader 1.5s ease-in-out infinite;
    margin: 0 2px;
    border-radius: 0.5rem;
}

#loader span:nth-child(2){
    animation-delay: .15s;
}

#loader span:nth-child(3){
    animation-delay: .3s;
}

#loader span:nth-child(4){
    animation-delay: .45s;
}

#loader span:nth-child(5){
    animation-delay: .6s;
}

#loader span:nth-child(6){
    animation-delay: 0.75s;
}

#loader span:nth-child(7){
    animation-delay: 0.9s;
}

#loader span:nth-child(8){
    animation-delay: 1.05s;
}

#loader span:nth-child(9){
    animation-delay: 1.2s;
}

#loader span:nth-child(9){
    animation-delay: 1.35s;
}
#loader span:nth-child(10){
    animation-delay: 1.5s;
}
#loader span:nth-child(11){
    animation-delay: 1.65s;
}
#loader span:nth-child(12){
    animation-delay: 1.8s;
}
#loader span:nth-child(13){
    animation-delay: 1.95s;
}
#loader span:nth-child(14){
    animation-delay: 2.1s;
}
#loader span:nth-child(15){
    animation-delay: 2.25s;
}

@keyframes loader {
    100% { height: 80px; }
}


/*calendar styling*/

.calendar
{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.calendar .dropdown
{
    display: none;
    position: absolute;
    background-color: #fff;
    color: goldenrod;
    text-align: center;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 160px;
    left: 0px;
    z-index: 2000;
}

.calendar .dropdown .dropdown-item
{
    cursor:pointer;
    opacity: .7;
    transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover
{
    opacity: 1;
}

.calendar .years
{
    display:none;
}

.calendar .title
{
    text-align:center;
    font-size:12pt;
}

.calendar .calendar-btn
{
    float: left;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 25%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-btn:hover{
    background-color: goldenrod;
}

.calendar .year-btn
{
    float:right;
}

.calendar .calendar-dates .days .day
{
    float:left;
    width: 12%;
    margin: 1%;
    padding: 1%;
    font-size:8pt;
    text-align:center;
    border-radius: 10px;
    border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank
{
    background-color: white;
    border:none;
}

.calendar .calendar-dates .days .day.selected
{
    background-color: dimgray;
    color: white;
    cursor:pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover
{
    opacity: 1;
}

.calendar .calendar-dates .days .day.label
{
    height: 20px;
    background-color: white;
    color: black;
    border:none;
    font-weight:bold;
}

.clear{
    clear:both;
}

@media only screen and (max-width: 960px) {
    .calendar{
        width: 100%;
        margin: 0px;
        margin: 0px;
        box-sizing: border-box;
        position: relative;
        left: 0px;
    }
}

/*Welcome Cards Test*/

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
/*html,*/
/*body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*body {*/
/*    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-weight: 300;*/
/*    color: #999;*/
/*    background-color: #fff;*/
/*}*/

 .welcome-card-text {
    margin: 0 0 20px 0;
    text-transform: none;
    color: goldenrod;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.about-us-link a:link,
.about-us-link a:active,
.about-us-link a:visited{
    color:rgba(255,255,255,1);
}

.about-us-link a:hover{
    color:rgba(255,255,255,0.6);
}

.gray {
    color: #a5a5a5;
}

.team{
    margin:40px;
}

.team-member {
    margin: 15px 0;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    min-width: 100%;
}

.team-member figcaption p {
    font-size: 16px;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    padding: 50px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(218, 165, 32, 0.6);
    /* Primary color, can be changed via colors.css */

    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.card {
    margin-bottom: 20px;
}


/*Test*/
.shadow-sm {
    width: 27rem;
}


#form:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

/*Media Queries*/
@media (max-width: 767px) {

    .sidebar-container {
        display: none;
    }

    .shadow-sm {
        width: auto;
        margin-top: 20px;
    }

    #mob {
        margin-top: 83px;
    }

    .logo-gen {
        display: none;
    }





    /*    Log In*/


    /*Log IN Form*/

    #form-margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #form-margin-log {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

.wordCarousel {
    text-align: start;
    margin-left: 22px;
}

    .carousel-li {
        font-family: Yesteryear;
        color: goldenrod;
        font-weight: 700;
        padding: 0 10px;
        height: 45px;
        margin-bottom: 45px;
        display: block;
        font-size: 45px;
        margin-left: 0px;
    }

#login-background {
    background-image: url("../imgs/mobile-mic.jpeg") ;
}



    /*    Gen NAv*/

.navbar-dark {
    background: #000000 !important;
}

.sticky-top {
    background: rgba(0, 0, 0, 0.36) !important;
}



    /*Welcome page*/

    .top {
        background-image: url("../imgs/mobo.webp");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        min-height: 500px;
        background-attachment: scroll;

    }

    .btn-link-2 {
        margin-left: 133px;
    }

    .container-home {
        width: 100%;
        padding-left: 0 !important;
    }

    .container {

    }


    /*Welcome Nav*/

    .logo {
        margin-left: 20px;
        height: auto;
        padding-right: 15px;
        padding-left: 0px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .services-box .services-box-icon { width: 60px; height: 60px; font-size: 32px; line-height: 60px; border-radius: 22px; }

    .about-us-box-text { padding-right: 0; }

}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }

    .top-content { padding: 180px 0; }

    .section-description p { padding: 0; }

    .services-box .services-box-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; border-radius: 18px; }

    .about-us-box { margin-top: 80px; }
    .about-us-box:last-child { margin-top: 50px; }
    .about-us-box-text { padding-right: 0; text-align: center; }

    .more-services-box .more-services-box-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; border-radius: 18px; }

    .portfolio-box h3:hover i { padding-left: 10px; }

    .blog-box h3:hover i { padding-left: 10px; }

}

