/*@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');*/

/*body {*/
/*    !*background-image: url("https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F567869%2Flive-nation-concert-from-the-audience.jpg&w=1200&h=630&op=resize");*!*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    color: black;*/

/*    min-height: 740px;*/

/*    !* Create the parallax scrolling effect *!*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/
img { max-width: 100%; }


.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 0 28px;
    background: rgba(19, 35, 128, 0.71);
    background: rgba(19, 35, 128, 0.65);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}

.logo {
    height: auto;
    width: 64px;
    padding-right: 15px;
    padding-left: 0px;
}

.nav-link {
    margin-bottom: 19px;
}

.navbar-dark {
    background:transparent !important;
    transition:0.75s ease;
    font-family: "Hiragino Sans";


}
.navbar-dark.scrolled {
    background: #292929 !important;
}

.img-fluid {
    width: 150px;
    height: auto; //which is default, you don't need to mention that unless you want to override.
}


.top {
    background-image: url("../imgs/homePage.jpg");


    /* Set a specific height */
    min-height: 750px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-content {
    padding: 210px 0;

}


.top-content .text {
    color: #ffffff;
    font-family: "Bodoni 72 Oldstyle";
}

.top-content .text h1 {
    margin-top: 25px;
    font-size: 50px;
    color: #ffffff;
    font-family: "Yesteryear";
    text-align: center;
    font-size: 80px;
}

.top-content .description {
    margin: 30px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .top-big-link {
    margin-top: 45px;
}

.pageBox {
    margin-left: 50px;
    background-color: rgba(13, 13, 13, 0.48);
   outline: white solid 2px;
}

/*.top {*/
/*    background-image: url("https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F567869%2Flive-nation-concert-from-the-audience.jpg&w=1200&h=630&op=resize");*/


/*    !* Set a specific height *!*/
/*    min-height: 740px;*/

/*    !* Create the parallax scrolling effect *!*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*button{*/
/*    background-color: gray;*/
/*    opacity: 90%;*/
/*    color: whitesmoke;*/
/*}*/

/*!*welcome heading*!*/
/*.welcome{*/
/*    margin: 65px;*/
/*    text-align: center;*/
/*    align-content: center;*/
/*    font-family: 'Yesteryear', cursive;*/
/*    font-size: 150px;*/
/*    color: whitesmoke;*/
/*}*/

/*!*navbar*!*/
/*nav{*/
/*    position: fixed; !* Set the navbar to fixed position *!*/
/*    top: 0; !* Position the navbar at the top of the page *!*/
/*    width: 100%; !* Full width *!*/
/*}*/
/*ul{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 0;*/
/*    height: 50px;*/
/*    font-family: 'Yesteryear', cursive;*/
/*}*/

/*li{*/
/*    font-family: 'Yesteryear', cursive;*/
/*    font-size: 32px;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/

/*!*nav links*!*/
/*a:active{*/
/*    color: gray;*/
/*}*/
/*a:hover{*/
/*    color: lightgray;*/
/*}*/

/*a:visited{*/
/*    color: black;*/
/*}*/