<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')"></head>

<body style="min-height: 400px">

<header th:replace="fragments/navbar :: welcomeNavbar"></header>


<!-- Our team Section -->
<section id="team" class="team content-section ">
    <div class="container about-margin">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="card-text mb-1" style="font-family: Cambria; color: goldenrod; font-size: 69px">Meet Our Team</h1>
                <h5 class="caption gray card-textmb-5" style="font-family:Cambria; color: white; font-size: 45px" >The Developers of GigMatch</h5>
            </div><!-- /.col-md-12 -->

            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/ZgrScNm/esai.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>I am a software developer utilizing a scientific methodology with an insatiable appetite for learning. I am captivated by the intricacies and complexities of web development and how it all comes together. I aim to contribute my knowledge of programming, coupled with unique perspective and insight, to a great team. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/esai-flores/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/esaiflores"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/824"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                        <li><a href="https://www.esaiflores.com/"><i class="fas fa-globe fa-2x"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Esai Flores</h4>
                            <p style="color: white">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/LkZJGKV/ry.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>I love breaking down problems to find a source and a solution. Software Development allows me to channel that passion into creating dynamic web applications and inspires me to continue to learn and develop new skills. I look forward to working with a team where I can immediately contribute and continue to grow through learning from others. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/ryancesutton/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/ryancesutton"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/833"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Ry Sutton</h4>
                            <p style="color: white">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/s1jWRFT/roshan.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p> I am a software developer with a love for problem-solving that stems from my background in nursing. I enjoy learning new technology, languages, and utilizing curiosity to make creative user-friendly web applications. Contact me to work on any projects.</p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/roshan-jacob/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/roshan2021"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/828"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Roshan Jacob</h4>
                            <p style="color: white">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/vLQhcWw/eve.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>Full-stack developer committed to making applications that make the user experience fun and efficient. Experience in customer service, management, and teaching/ translating curriculum for students from their native language which has inspired me to continue learning and teaching in different areas of life. Passionate about continuously learning how to support the technological era as well as developing positive experiences and an exciting work environment. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/evelyn-acosta-7410471a8/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/Evelyn651"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/825"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Evelyn Acosta</h4>
                            <p style="color: white">Software Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->


                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.our-team -->

</body>
</html>