<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')"></head>

<body style="min-height: 400px">

<header th:replace="fragments/navbar :: welcomeNavbar"></header>


<!-- Our team Section -->
<section id="team" class="team content-section ">
    <div class="container about-margin">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="card-text mb-1" style="font-family: Cambria; color: goldenrod; font-size: 69px">Meet Our Team</h1>
                <h5 class="caption gray card-textmb-5" style="font-family:Cambria; color: white; font-size: 45px" >The Developers of GigMatch</h5>
            </div><!-- /.col-md-12 -->

            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/ZgrScNm/esai.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>I am a software developer utilizing a scientific methodology with an insatiable appetite for learning. I am captivated by the intricacies and complexities of web development and how it all comes together. I aim to contribute my knowledge of programming, coupled with unique perspective and insight, to a great team. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/esai-flores/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/esaiflores"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/824"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                        <li><a href="https://www.esaiflores.com/"><i class="fas fa-globe fa-2x"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Esai Flores</h4>
                            <p style="color: white">Software Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/LkZJGKV/ry.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>I love breaking down problems to find a source and a solution. Software Development allows me to channel that passion into creating dynamic web applications and inspires me to continue to learn and develop new skills. I look forward to working with a team where I can immediately contribute and continue to grow through learning from others. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/ryancesutton/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/ryancesutton"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/833"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Ry Sutton</h4>
                            <p style="color: white">Software Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/s1jWRFT/roshan.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p> I am a software developer with a love for problem-solving that stems from my background in nursing. I enjoy learning new technology, languages, and utilizing curiosity to make creative user-friendly web applications. Contact me to work on any projects.</p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/roshan-jacob/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/roshan2021"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/828"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Roshan Jacob</h4>
                            <p style="color: white">Software Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-12">
                        <div class="team-member">
                            <figure>
                                <img src="https://i.ibb.co/vLQhcWw/eve.jpg" alt="" class="img-fluid">
                                <figcaption>
<!--                                    <p>Full-stack developer committed to making applications that make the user experience fun and efficient. Experience in customer service, management, and teaching/ translating curriculum for students from their native language which has inspired me to continue learning and teaching in different areas of life. Passionate about continuously learning how to support the technological era as well as developing positive experiences and an exciting work environment. </p>-->
                                    <ul class="about-us-link">
                                        <li><a href="https://www.linkedin.com/in/evelyn-acosta-7410471a8/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        <li><a href="https://github.com/Evelyn651"><i class="fab fa-github-square fa-2x"></i></a></li>
                                        <li><a href="https://alumni.codeup.com/students/825"><img src="https://i.ibb.co/Srn5J5X/nno-cutout.png" class="img-chev" alt=""></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="card-text welcome-card-text">Evelyn Acosta</h4>
                            <p style="color: white">Software Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->


                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.our-team -->


<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row text-center text-white mt-5 mb-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">GigMatch Timeline</h1>
        </div>
    </div><!-- End -->


    <div class="row">
        <div class="col-lg-7 mx-auto">

            <!-- Timeline -->
            <ul class="timeline">
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">Day 1: Project planning</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>7 July, 2020</span>
                    <p class="text-small mt-2 font-weight-light">On day one, we as a team came together and decided what we wanted GigMatch to be. We created user stories and delved into the minds of a GigMatch user and what they would want to see or do in a "gigmatching" website. Moving forward we created a feature list containing all needed features for the site, as well as a roadmap for future additions.</p>
                    <p class="text-small mt-2 font-weight-light">To fully understand GigMatch, we developed a series of wireframes and storyboards to visualize what our application would come to be. We created the structure and outline that helped portray the flow of a user from setting up their account to creating that last post. This was all done to help contribute to a fully functional GigMatch.</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">Day 3: Database design and creation</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>9 July, 2020</span>
                    <p class="text-small mt-2 font-weight-light">On day 3, we the GigMatch developers designed and setup the database foundation for which our site was to be built upon. We referred to our previous wireframe and feature list mock-ups to blueprint a database that would work cohesively with the user stories we created. Different tables were setup in combination with the Spring framework to map out what information was to be stored and from what features. </p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">Day 4: Development starts</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10 July, 2020</span>
                    <p class="text-small mt-2 font-weight-light">On day 4, development was on its way. Database design was finished and feature creation had begun. The GigMatch developers began to map out and shape the way the features would work and on what views according to the storyboards. Created with Java, following the MVC pattern and utilizing the Springboot framework the developers began coding.</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">Day 11: GigMatch is navigable</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>17 July, 2020</span>
                    <p class="text-small mt-2 font-weight-light">On day 11, the GigMatch application was completely navigable with users being able to signup or login and start using GigMatch. The developers reached this milestone and once again referred back to their user stories to start using the application they built. Here they recorded and documented any errors or issues with both code and design for the application. </p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">Day 20: GigMatch is fully operational</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>27 July, 2020</span>
                    <p class="text-small mt-2 font-weight-light">On day 20, GigMatch was deployed and fully operational. After intensive review, the application was approved for new users to start finding their gigs. The team revised and adjusted based on previous user feedback to bring their best version to date. </p>
                    <p class="text-small mt-2 font-weight-light"> Going forward, the software developers of GigMatch have many plans to both improve the design and backend development for the application. Features such as an interactive calendar, notifications, direct messaging system, and the ability to follow other users are all to be expected in GigMatch 2.0</p>
                </li>
            </ul><!-- End -->

        </div>
    </div>
</div>

<script>
    window.onscroll = function() {myFunction()};

    function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
    }

</script>


</body>
</html>