<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head2('Welcome')"></head>

<body>

<header th:replace="fragments/navbar :: navbar2" class="navbar"></header>
<div class="top-content top">
<h1 class="welcome"> Welcome to GigMatch</h1>
    <button><a href="#about">About GigMatch</a></button>
    <button><a href="#founders">About Founders</a></button>
    <button><a href="/sign-up">Sign Up</a></button>
</div>

<div id="about">
    <h3>About GigMatch</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque eveniet incidunt nisi obcaecati ratione recusandae similique, tempore vitae voluptate. Enim esse est fugit illum recusandae! Dolorem doloremque est officia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque eveniet incidunt nisi obcaecati ratione recusandae similique, tempore vitae voluptate. Enim esse est fugit illum recusandae! Dolorem doloremque est officia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque eveniet incidunt nisi obcaecati ratione recusandae similique, tempore vitae voluptate. Enim esse est fugit illum recusandae! Dolorem doloremque est officia.</p>
</div>

<div id="founders">
    <h3>About the Founders</h3>

    <div id="founder1">
        <h5>Ry Ance Sutton</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi, aspernatur corporis cum earum eos eveniet exercitationem maxime modi quia quibusdam voluptatem. Alias delectus iste maiores porro quasi sequi unde?
    </p>
    </div>

    <div id="founder2">
        <h5>Esai Flores</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi, aspernatur corporis cum earum eos eveniet exercitationem maxime modi quia quibusdam voluptatem. Alias delectus iste maiores porro quasi sequi unde?
    </p>
    </div>

    <div id="founder3">
        <h5>Roshan Jacob</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi, aspernatur corporis cum earum eos eveniet exercitationem maxime modi quia quibusdam voluptatem. Alias delectus iste maiores porro quasi sequi unde?
    </p>
    </div>

    <div id="founder4">
        <h5>Evelyn Acosta</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi, aspernatur corporis cum earum eos eveniet exercitationem maxime modi quia quibusdam voluptatem. Alias delectus iste maiores porro quasi sequi unde?
    </p>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>